<h1>Show</h1>

<p>Name: <%= @dog.name %></p>
<p>Breed: <%= @dog.breed %></p>
<p>Age: <%= @dog.age %></p>

<ul>
<% @dog.employees.each do |employee| %>
  <li>  <%= link_to employee.full_name, employee_path(employee) %> </li>
<% end %>
</ul>

